<% provide(:title, 'Home') %>
<div class="text-center jumbotron">
  <h1>Picahna Buffet</h1>
  <h2>
    This is the home page for the
    <a href="http://picanhabuffet.com/">Budget Site</a>
    application.
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
