<footer class="footer">
  <small>
    <a href="http://picanhabuffet.com/">PicanhaBuffet.com</a>
    by Grupo "El Carmen"
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://picanhabuffet.com/news">News</a></li>
    </ul>
  </nav>
</footer>
